body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #d0edff;
}

a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Header {
  padding: 10px;
  padding-left: 10%;
  padding-right: 10%;
  
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
  background-image: linear-gradient(to right, #1c8dd4,  #1c8dd4, #3165cd);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1c8dd4;;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  height: 99px;
  margin-bottom: 50px;

  border-bottom: solid #2964db 4px;
 }
 .nav-links a {
  color: #fff;
 }
 .logo {
  display: flex;
  font-size: 32px;
  align-items: center;
 }
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu .active {
  border-radius: 5px;
  background-color:#2964db;

  transition: 0.3s ease;
  border-bottom: solid #ffffff 1px;
 }
 .menu li:hover {
  border-radius: 5px;
  background-color: #154ab3;
  transition: 0.3s ease;
  border-bottom: solid #ffffff 2px;
 }
 .menu li {
  padding: 5px 14px;
 }
 .services {
  position: relative; 
 }
 .dropdown {
  background-color:  #009bfb;
  padding: 1em 0;
  position: absolute; 
  display: none;
  border-radius: 8px;
  top: 35px;
 }
 .dropdown li + li {
  margin-top: 10px;
 }
 .dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
 }
 .dropdown li:hover {
  background-color:#2964db;

  border-bottom: solid #ffffff 2px;

 }
 .services:hover .dropdown {
  display: block;
 }

.header-title {
  color: white;
  font-size: 25px;
}

#Left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Section {
  padding: 10px;
  background-color:rgb(51, 152, 234); ;
  color: rgb(255, 255, 255);
  font-size: 28px;
  border-bottom: solid #2964db 4px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

input[type=checkbox]{
  display: none;
 } 
 .hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  user-select: none;
 }
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-image: linear-gradient(to right, #1c8dd4,  #1c8dd4, #3165cd);
  right: 0;
  left: 0;
  text-align: center;
  margin-top: 10px;
  padding: 16px 0;
  border-bottom: solid #2964db 4px;

 }
 .dropdown {
  background-color:  #1c8dd4;
  padding: 1em 0;
  position: absolute; 
  display: none;
  border-radius: 8px;
  top: 35px;
 }

 .menu .active {
  background-color:#2964db;
  transition: 0.3s ease;
  border-radius: 0px;
 }
 .menu li:hover {
  background-color:#2050b1;
  transition: 0.3s ease;
  border-radius: 0px;

 }

 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
 .dropdown {
  left: 50%;
  top: 30px;
  transform: translateX(35%);
 }
 .dropdown li:hover {
  background-color: #1c8dd4;;
 }
 }

img {
  border-radius: 20px;
}

p {
  color: rgb(255, 255, 255);
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(28, 141, 212);
  text-align: center;
}

#Content {
  margin-left: 10%;
  margin-right: 10%;
}

#Search {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: none;
  border: none;
  border-bottom: solid #2964db 3px;
}

#Button {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  color: #1c8dd4;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  border-bottom: solid #2964db 3px;

}

/* styles for the add profile button on the navbar */



/* styles for the profile container container?? (Yoga made this I don't even know anymore) */

#Profiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* styles for the profile container */

.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 20%;
  width: 20%;
  border-width: 20px;
  border-color: black;
}

/* styles for the parofile image */

.Profile img {
  padding: 5px;
  object-fit: fill;
  width: 220px;
  height: 300px;
  border-radius: 15px;
  background-position: center center;

  background-repeat: no-repeat;
}

/* styles for the grid items */

.items {
  background-color: rgb(51, 152, 234);
  padding-top: 20px;
  border: 3px solid rgb(255, 213, 0);
  height: 230px;
  width: 230px;
  object-fit: fill;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.item p {
  color: white;
}

/* styles for the grid container */

.container {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
  padding: 10px;
  align-self: center;
  gap: 20px;
}

/* styles for the link */
.container a {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0.75em 3em 0.75em 1.25em;
  border-radius: 99em;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid rgb(255, 213, 0);

  text-align: center;
  color: rgb(255, 255, 255);
  background-color: #185adb;
  box-shadow: 0 5px 15px rgba(163, 163, 163, 0.1);
  list-style: none;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.15s ease;
  position: relative;
}

.container a:hover {
  font-size: 21px;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.731);
}

.showcase {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
